.LoginContainer h2 {
  margin-bottom: 50px;
}
.LoginContainer__input {
  margin-bottom: 20px;
}

.LoginContainer p {
  margin-top: 30px;
  font-size: 0.95em;
}
.LoginContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.LoginContainer .MuiFormControl-root {
  width: 100% !important;
  margin-left: 0 !important;
}
