.mainLayout {
  width: 90%;
  margin: 100px auto;
  position: relative;
  z-index: 10;
}
.mainLayout-items {
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  gap: 20px;
  z-index: 10;
  padding: 20px;
}

@media (max-width: 767px) {
  .mainLayout {
    width: 100%;
    margin: 60px auto 20px;
  }
  .mainLayout-items {
    flex-direction: column;
    padding: 12px;
    border-radius: 8px;
    gap: 0;
  }
}
