.mainLayout {
  width: 90%;
  margin: 100px auto;
  position: relative;
  z-index: 10;
}
.mainLayout-items {
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  gap: 20px;
  z-index: 10;
  padding: 20px;
}
