.otherLayout-left {
  width: 20%;
}
.otherLayout-right {
  width: 80%;
}

.otherLayout-right img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
}
